.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    
    a{
        text-decoration: none;

    }
    button{
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: 1px solid var(--btn-color);
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    button:hover {
        background-color: var(--btn-text-color);
        color: var(--btn-color);
    }
    .certificatesContainer{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:10px;
}
}